[submodule "PcapPlusPlus"]
	path = deps/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
	branch = master
[submodule "asio_dtls"]
	path = deps/asio_dtls
	url = https://github.com/sdamm/asio_dtls.git
	branch = master
[submodule "galaxy42"]
	path = deps/galaxy42
	url = https://github.com/yedino/galaxy42
	branch = dev
